<%= simple_form_for([:admin, @budget], wrapper: :horizontal_input_group,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes
        }) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :account_id, wrapper: :vertical_input_group, label: false  do %>
        <span class="input-group-addon">Cliente</span>
      <%=  f.input_field :account_id, as: :select,
                          collection: Account.find(:all).collect {|a| [a.name, a.id]},
                          :prompt => ' ', class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-inputs">
    <%= f.input :media_kw, wrapper: :vertical_input_group, label: false  do %>
        <span class="input-group-addon">Média de KW</span>
      <%= f.input_field :media_kw, class: "form-control icpf" %>
    <% end %>
  </div>

  <h3>Produtos</h3>
  <div id='budget_items'>
    <%= f.simple_fields_for :budget_items do |budget_item| %>
      <%= render 'budget_item_fields', :f => budget_item %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Adicionar Produto', f, :budget_items, class: 'btn btn-primary' %>
    </div>
  </div><br/>


  <div class="btn-group">
    <%= link_to 'Cancelar', admin_budgets_path, class: 'btn btn-default' %>
    <%= f.button :submit, 'Salvar Produto', class: 'btn btn-primary' %>
  </div>
<% end %>
